@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
  --primary-color: #047aed;
  --secondary-color: #1c3fa8;
  --dark-color: #002240;
  --light-color: #f4f4f4;
  --success-color: #5cb85c;
  --error-color: #d9534f;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Lato', sans-serif;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

code,
pre {
  background: #333;
  color: #fff;
  padding: 10px;
}

.hidden {
  visibility: hidden;
  height: 0;
}

/* Navbar */
.navbar {
  background-color: var(--primary-color);
  color: #fff;
  height: 70px;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 10px;
  margin: 0 5px;
}

.navbar a:hover {
  border-bottom: 2px #fff solid;
}

.navbar .flex {
  justify-content: space-between;
}

/* Products */
.container .flex {
  display: flex;
  flex-wrap: wrap;
}

.product {
  width: 280px;
  height: 428px;
  margin: 5px;
}

.product .card {
  margin: 0px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.product .card img {
  flex: 6;
  height: 246px;
}

.product-desc {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.product-btns {
  justify-self: flex-end;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.product h1 {
  font-size: 21px;
}

.product h1:hover{
  cursor: pointer;
}

.product img:hover{
  cursor: pointer;
}

.product .card .product-btns a {
  text-align: center;
  width: 75px;
  border: 1px solid #333;
  cursor: pointer;
}

.product .card .product-btns a:active {
  transform: scale(0.95);
}

.product .card .product-btns a:hover {
  background-color: var(--primary-color);
  border-color: #fff;
  color: #fff;
  transform: scale(1.1);
  transition: 0.1s;
}

/* Product info */
.product-img{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-img button {
  background: transparent;
  height: 35px;
  width: 135px;
}

.product-img img {
  width: 75%;
  height: 75%;
  margin: 30px 0px;
}

.product-info .flex {
  column-gap: 40px;
}

.product-info .flex h1 {
  padding-bottom: 35px;
}

.product-info .container .flex {
  flex-direction: column;
  height: 100%;
  border: 1px solid #333;
  text-align: center;
  width: 100%;
}

.product-img button {
  outline: none;
}

.product-img button:active {
  transform: scale(0.9);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.product-description {
  margin-bottom: 30px;
}

.product-title{
  justify-content: flex-end;
  align-items: flex-end;
}

/* Cart info */
.cart {
  height: 200px;
}

.cart-img {
  height: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-img .card{
  padding: 5px;
}

.cart-img img {
  height: 80%;
  width: 55%;
}

.cart .flex {
  height: 100%;
  border-bottom: 1px solid #333;
  column-gap: 35px;
}

.cart-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 3px;
}

.cart-details{
  flex: 2;
  height: 100%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container button:active{
  transform: scale(0.95);
}

/* Profile */
.profile-info {
  display: flex;
  flex-direction: column;
  max-width: 1100px;
  margin: 0 auto;
  overflow: 0;
  padding: 0 40px;
  row-gap: 35px;
}

.profile-info .profile-info-header {
  margin-top: 5px;
  border-bottom: 1px solid #333;
}

.profile-info-header{
  flex: 1;
}

.profile-main {
  display: flex;
  flex-direction: row;
  column-gap: 35px;
  flex: 2;
}

.profile-info .profile-main .personal-details img {
  width: 55%;
  height: 55%;
}

.profile-info h1{
  font-size: 15px;
  line-height: 1.0;
}

.profile-main .personal-details .flex h1{
  font-size: 15px;
  line-height: 1.0;
}

.personal-details {
  display: flex;
  flex-direction: column;
  flex: 0.95;
}

.personal-details .flex {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.profile-info-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  column-gap: 35px;
  align-items: center;
}

.profile-info-header .btn{
  height: 35px;
  width: 125px;
  margin-bottom: 5px;
}

.profile-about {
  flex: 2;
}

.profile-about h1 {
  border-bottom: 1px solid #333;
}

.about-header{
  display: flex;
  flex-direction: row;
}

/* Login */

.login,
.register{
  max-width: 500px;
  margin: auto;
  display: flex;
  justify-content: center;
}

.login .container,
.login .container .card,
.register .container,
.register .container .card {
  width: 100%;
  height: 100%;
}

.login .container .card form,
.register .container .card form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 15px;
}

.form-control{
  width: 100%;
}

.form-control input[type="password"],
.form-control input[type="email"],
.form-control input[type="text"],
.form-control textarea
{
  width: 100%;
  margin: 5px;
  font-size: 18px;
  border: 0;
  border-bottom: 1px solid #333;
  outline: 0;
}

.form-control input[type="submit"]{
  width: 100%;
}

.login .grid,
.register .grid {
  width: 100%;
}

.login .grid .form-control input,
.register .grid .form-control input {
  font-size: 18px;
}

.login .grid .form-control input:active,
.register .grid .form-control input:active {
  transform: scale(0.95);
}

/* Register */

.register .grid {
  grid-template-columns: 1fr;
}

/* Checkout */

.checkout .card {
  align-self: flex-start;
}

.checkout .card #items {
  border-bottom: 1px solid #333;
}

.checkout .card #total {
  border-top: 1px solid #333;
}

.checkout .form-control input[type="submit"] {
  font-size: 18px;
}

.checkout-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 5px;
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 5px 0px;
}

.checkout-button button {
  display: inline-block;
  font-size: 18px;
  width: 125px;
}
/* Tablets and under */
@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .product-info .flex img {
    width: 55%;
    height: 55%;
    margin: 30px 30px;
  }

  .product-info .container .flex {
    padding: 0;
  }

  .product-info .flex h1 {
    font-size: 24px;
    padding-bottom: 0px;
  }

  .container .flex {
    flex-direction: column;
  }

  .product-info .flex {
    flex-direction: column;
    row-gap: 40px;
  }
  
  .container{
    max-width: 375px;
  }

  .profile-info h1{
    font-size: 18px;
  }

  .profile-info-header h1{
    display: none;
  }
  .profile-info-header button{
    margin-top: 5px;
  }

  .profile-main {
    flex-direction: column;
  }

  .profile-main .personal-details .flex h1 {
    font-size: 18px;
  }

  .personal-details {
    justify-content: center;
    align-items: center;
  }

  .profile-about {
    justify-content: center;
    align-items: center;
  }

  .profile-about .about-header{
    justify-content: center;
    align-items: center;
  }

  .profile-info-header{
    justify-content: center;
    align-items: center;
  }

  .checkout .grid {
    grid-template-columns: 1fr;
  }
}

/* Mobile */
@media (max-width: 500px) {
  .navbar {
    height: 110px;
  }

  .navbar .flex {
    flex-direction: column;
    overflow: hidden;
  }

  .navbar ul {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.1);
  }

  .cart {
    height: 150px;
  }

  .cart-img {
    width: 100%;
  }
  .cart-img .card{
    width: 100%;
    margin: 0;
  }
}
